
#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#personal-photo {
    height: 150px;    /* Set a fixed height */
    max-width: 100%;  /* Ensure it doesn't exceed container width */
    width: auto;      /* Maintain aspect ratio */
}